{% extends 'layout.html'%} 

{% block title %} ScholarshipScraper {% endblock %}

{% block body %}
<h1>
    Welcome to ScholarshipScraper!
</h1>
<form action="/check" method="post">
    
    <input type="url" name="link0" placeholder="Enter link here"/><br>
    
    <input type="url" name="link1" placeholder="Enter link here"/><br>
    
    <input type="url" name="link2" placeholder="Enter link here"/><br>
    
    <input type="url" name="link3" placeholder="Enter link here"/><br>
    
    <input type="url" name="link4" placeholder="Enter link here"/><br>
    
    <input type="submit" value="Submit"/>

</form>

{% endblock %}
