{% extends 'layout.html'%} 

{% block title %} ScholarshipScraper {% endblock %}

{% block body %}
<h1>
    Welcome to ScholarshipScraper!
</h1>
<form action="/api/scrape" method="post">
    
    <p>Which Directory would you like to Search?</p>
    <input type="radio" id="Yellowpages.ca" name="directory" value="0" required>
    <label for="Yellowpages.ca">Yellowpages.ca</label>

    <input type="radio" id="Yellowpages.com" name="directory" value="1" required
    <label for="Yellowpages.com">Yellowpages.com</label><br><br>
    
    <label for="search">What are you searching for?</label><br>
    <input type="text" id="search" name="search" placeholder="Eg. Dental Clinic"/><br><br>
    

    <label for="location">Where are you searching?</label><br>
    <input type="text" id="location" name="location" placeholder="Eg. Toronto ON"/><br>
    

    <input type="submit" value="Submit"/>

</form>

{% endblock %}
